@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */

/* Dela Gothic One - Display */
@font-face {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Dela Gothic One/DelaGothicOne-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* Poppins - Body */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/Poppins/Poppins-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/Poppins/Poppins-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}
